.AddIcon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.ShowMoreLess {
    text-align: center;
}

.Toast {
    position: 'relative';
    min-height: '60px';
    margin-top: '20px'
}

.ToastShow {
    position: 'absolute';
    top: 0;
    right: 0
}

.Container {
    padding: 3rem 0 6rem;
}

@media screen and (max-width: 600px) {
    .Container {
        padding: 3rem 0 12rem;
    }
}