.Icon {
    font-size: 1.7rem;
    cursor: pointer;
}

.DeleteIcon {
    font-size: 5rem;
    text-align: center;
    color: #FFCC00;
    margin-bottom: 10px;
}

.Accordion {
    display: flex !important;
    justify-content: center;
}

.Toggle {
    color: #ffffff;
    background-color: #000000;
}

.Card {
    width: 18rem;
    margin-bottom: 30px;
    background-color: #000000;
    color: #f1f1f1;
    padding: 20px;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 10px;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Container {
    padding: 2px 16px;
}