.Footer {
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    clear: both;
    float: left;
    overflow: auto;
    background-color: #000000;
    color: #ffffff;
}

.Footer a {
    color: #ffffff !important;
}

.Footer a:hover {
    color: yellowgreen !important;
}