.Header {
    background-color: #000000 !important;
}

.Header button {
    color: white !important;
    border-color: white !important;
}

.Header a {
    color: #ffffff !important;
}

.DropDown {
    color: black !important;
}