body {
    background-image: url('./assets/photo-of-buildings-during-nighttime-2603464.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}